:root {
  --border-radius-md: 8px;
  --code-font-family: Monaco, Andale Mono, Ubuntu Mono, monospace;
  --icon-color: #25314c;
  --primary-font-color: rgba(8, 23, 53, 0.85);
  --second-font-color: rgba(8, 23, 53, 0.45);
  --link-font-color: #1865E4;
  --primary-blue-font-color: #1865E4;

  --primary-bg-color: #fff;
  --second-bg-color: #feffff;
  --thirty-bg-color: #E6EAF0;
  --divider-color:#E6EAF0;

  //--primary-border-color:;

  --tools-bg-color-1: #f4f8fb;
  --tools-bg-color-2: #E9EFF3;
  --tools-bg-color-3: #E6EDF3;
}

[mode='dark']:root {
  --icon-color: #96a0b5;
  --primary-font-color: #ECEFF4;
  --second-font-color: rgba(171, 183, 201, 0.45);
  --link-font-color: #4D94FF;
  --primary-blue-font-color: #4D94FF;


  --primary-bg-color: #2A2C38;
  --second-bg-color: #292C38;
  --thirty-bg-color: #4C4F5F;

  --divider-color: rgba(76, 79, 95, 0.45);


  --tools-bg-color-1: #343744;
  --tools-bg-color-2: #3E4252;
  --tools-bg-color-3: #4C4F5F;

}
