@font-size-base: 16px; // 主字号
@border-radius-base: 4px;

@height-base: 36px;
@height-lg: 44px;
@height-sm: 28px;
@btn-padding-horizontal-base: 8px;


// <<<<<<<<<<<<< 重定义 popover <<<<<<<<<<<<<<<<<
.ant-popover-inner {
  border-radius: 8px;
}
.ant-popover-inner-content {
  border-radius: 8px;
}
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>


// <<<<<<<<<<<<< modal <<<<<<<<<<<<<<<<<<<<<<<<<
.ant-modal-content {
  border-radius: 12px;
  overflow: hidden;
}
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
